

/**
*Large Screen CSS
*/

@media only screen and (min-width: 768px) {

    /**Navigation*/

    .navigation {
        display: flex;
    }

    .navigation li:first-child{
        display: none;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    /**Weather and Banner */


    .preston-current-weather {
        max-width: 1000px;
    
    }
    
    .preston-banner {
        max-width: 1000px;
        margin: 0 auto;
        position: relative;
    }
    .preston-section-1 {
        width: 40%;
        max-width: 350px;
        text-align: center;
        background-color: #A0C4E2;
        border: 1px solid black;
        position: absolute;
        top: 370px;
        margin-left: 40px;
    }

    .preston-section-2 {
        margin-top: 50px;
        display: block;
        max-width: 75%;
        margin-left: 10%;
        text-align: center;
    }

    /**Contact Us box*/ 

    .contact-info-grid {
        display: grid;
        margin: 10px auto;
        border: 1px dashed black;
        padding: 15px;
        grid-template-columns: 1fr 1fr;
        
    }
    
    .contact-section-1{
        grid-column: 2 / 3;
        grid-row: 1 / 4;
    }
    
    .contact-section-2 {
        display: flex;
        grid-column: 2 / 3;
        grid-row: 4 / 5;
    }
    
    .contact-section-3 {
        grid-column: 1 / 2;
        grid-row: 1 / 5;
    }
}
